/* Questão 1 */
/* item A */

.conteiner0{
    display: grid;
    height: 300px;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid grey;
    justify-content: center;
}

.box{
    background-color: darkgray;
    border: 1px solid grey;
}

.boxf{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 2;
    grid-column-end: 5;
}

.boxh{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 1;
    grid-row-end: 1;
}

.boxc{
    background-color: white;
    border: 1px solid grey;
    grid-row-start: 1;
    grid-column-start: 2;
}

/* item B */

.conteiner2{
    display: grid;
    height: 300px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100ppx;
    border: 1px solid grey;
    justify-content: center;
    text-align: center;
}

.boxa{
    background-color: darkgrey;
    border: 1px solid grey;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.boxb{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.boxc2{
    background-color: white;
    border: 1px solid grey;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    
}

.boxd{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.boxe{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}

.boxf2{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
}

/* item C */

.boxb2{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
}

.boxd2{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.boxe2{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.boxf3{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
}

/* item D */

.conteiner3 {
    display: grid;
    height: 300px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 30px;
    border: 1px solid grey;
    justify-content: center;
    text-align: center;

}

.boxa2{
    background-color: darkgrey;
    border: 1px solid grey;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.boxb3{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

.boxc3{
    background-color: white;
    border: 1px solid grey;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.boxf4{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end:5;
}

.boxh2{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}

/* item E */

.boxa3{
    background-color: darkgrey;
    border: 1px solid grey;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.boxb4{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
}

.boxc4{
    background-color: white;
    border: 1px solid grey;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    
}

.boxd3{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.boxf5{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
}

.boxh3{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}

/* item F */

.conteiner4 {
    display: grid;
    height: 300px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: 1px solid grey;
    justify-content: center;
    text-align: center;
}

.boxa4{
    background-color: darkgrey;
    border: 1px solid grey;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.boxb5{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.boxc5{
    background-color: white;
    border: 1px solid grey;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.boxd4{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
}

.boxe3{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

.boxg{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}

.boxf6{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end:5;
}

.boxh4{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

/* item G */

.conteiner5{
    display: grid;
    height: 300px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 30px 30px 1fr 1fr;
    border: 1px solid grey;
    justify-content: center;
    text-align: center;
}

.boxa5{
    background-color: darkgrey;
    border: 1px solid grey;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}

.boxb6{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 7;
    grid-column-end: 8;
}

.boxc6{
    background-color: white;
    border: 1px solid grey;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
}

.boxd5{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

.boxe4{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
}

.boxf7{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 8;
}

.boxh5{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 6;
    grid-column-end: 8;
}

/* item H */

.conteiner6{
    display: grid;
    height: 300px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-content: center;
}

.boxa6{
    background-color: darkgrey;
    border: 1px solid grey;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 7;
    order: 1;
}

.boxb7{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 8;
    grid-column-end: 11;
    order: 2;
}

.boxc7{
    background-color: white;
    border: 1px solid grey;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 7;
}

.boxf8{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 11;
}

.boxh6{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 7;
}

/* item I */

.conteiner7{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 40px repeat(6, 30px) 40px;
    border: 1px solid grey;
    justify-content: center;
}

.boxa7{
    background-color: darkgrey;
    border: 1px solid grey;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
}

.boxb8{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 9;
    grid-column-end: 10;
}

.boxc8{
    background-color: white;
    border: 1px solid grey;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 8;
}

.boxd6{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
}

.boxe5{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 9;
    grid-column-end: 10;
}

.boxf9{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 9;
}

.boxg2{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 10;
    grid-column-end: 11;
}

.boxh7{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 9;
}

.boxi{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 3;
}

/* item J */

.conteiner8{
    display: grid;
    height: 200px;
    grid-template-columns: 30px repeat(2, 90px);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
}

.boxa8{
    background-color: darkgrey;
    border: 1px solid grey;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.boxb9{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.boxc9{
    background-color: white;
    border: 1px solid grey;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.boxd7{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.boxe6{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}

.boxh8{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

/* item L/M */

.conteiner9 {
    display: grid;
    height: 200px;
    grid-template-columns: 30px 90px 270px;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}

.boxa9{
    background-color: darkgrey;
    border: 1px solid grey;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.boxb10{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.boxc10{
    background-color: white;
    border: 1px solid grey;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.boxh9{
    background-color: rgb(55, 134, 165);
    border: 1px solid grey;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

/* item N */

.boxa10{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 1;
    grid-column-start: 2;
}

.boxb10{
    background-color: darkgray;
    border: 1px solid grey;
    grid-row-start: 2;
    grid-column-start: 2;
}

.boxc11{
    background-color: white;
    border: 1px solid grey;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* Questão 2 */

.top{
    display: grid;
    height: 40px;
    background-color: gray;
    grid-template-columns: 2fr repeat(4, 1fr);
    justify-content: center;
    text-align: center;
    color: white;
}

.top1{
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}

.top2{
    grid-column-start: 2;
    grid-column-end: 3;
}

.top3{
    grid-column-start: 3;
    grid-column-end: 4;
}
.top4{
    grid-column-start: 4;
    grid-column-end: 5;
}

.top5{
    grid-column-start: 5;
    grid-column-end: 6;
}

.cont{
    display: grid;
    height: 80%;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 110px 20px;
    justify-content: center;
    grid-column-gap: 15px;
}

.cont1{
    background-color: lightgray;
    height: 100px;
    width: 180px;
    grid-column-start: 1;
    grid-column-end: 2;

}

.cont2{
    height: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.cont3{
    background-color: lightgray;
    height: 100px;
    width: 180px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.cont4{
    height: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.cont5{
    background-color: lightgray;
    height: 100px;
    width: 180px;
    grid-column-start: 3;
    grid-column-end: 4;
}

.cont6{
    height: 20px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item{
    display: grid;
    height: 80%;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr) 200px;
    grid-template-rows: repeat(3, 1fr) 20px;
    grid-row-gap: 10px;
    justify-content: center;
    grid-column-gap: 10px;
}

.item1{
    height: 50px;
    background-color: lightgray;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item2{
    height: 50px;
    width: 50px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item3{
    height: 50px;
    background-color: lightgray;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item4{
    height: 50px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item5{
    height: 50px;
    background-color: lightgray;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item6{
    height: 50px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item7{
    height: 50px;
    background-color: lightgray;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item8{
    height: 50px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item9{
    height: 50px;
    background-color: lightgray;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item10{
    height: 50px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item11{
    height: 50px;
    background-color: lightgray;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item12{
    height: 50px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item13{
    height: 150px;
    border: 2px solid gray;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
}

.item14{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
}

/* mobile */

@media (min-width: 0px) and (max-width: 768px) {

}